body {
    background-color: #162723;
}

main {
    background-color: #162723;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgDestinationShow{
    display:flex;
    align-items: center;
    width: 100%;
    height: 200px;
}

.boxDestinationShow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E0A458;
    width: 100%;
    height: auto;
	margin:auto;
    color: #162723;
}

.dateShow{
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

img {
    width: 65%;
    height: 70%;
}

.tripDetailsShow {
    background-color: #8C9E88;
    display: grid;
    width: 95%;
    border-radius:10px;
    margin: 12px;
    grid-template-columns: 1fr 0.5fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

div.timeDetails {
    margin: 5px;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

div.departureTime {
    grid-area: 1 / 1 / 2 / 2;
    align-items: start;
    margin-bottom: 15px;
    margin-left: 10px;
}

div.arrivalTime { 
    grid-area: 2 / 1 / 3 / 2;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 15px;
}

div.addressDetails {
    margin: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr ;
    position: relative;
    align-items: flex-end;
}

div.origin {
    justify-self: start;
    grid-area: 1 / 1 / 2 / 2;
    margin-bottom: 5px;
}

div.destination { 
    grid-row-end: 5;
    place-content: center;
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 5px;
}

div.imgLeafLine { 
    grid-template-rows: 1fr;
    position: relative;
    display: grid;
    -webkit-box-align: center;
    align-self: center;
    width: 50px;
    flex-shrink: 0;
    height: calc(13px);
    margin-bottom: 60px;
}

.detailsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 0px;
    align-content: space-between;
    grid-area: 1 / 1 / 2 / 2;
}

.costDetails, .seatsDetails {
    display:flex;
    background-color: #8C9E88;
    width: 89%;
    height: auto;
    padding: 12px;
	border-radius:10px;
	margin: 12px;
    color: #162723;

}

.costDetailsTitle, .seatsDetailsTitle {
    display: flex;
    flex-direction:column;
    align-items: center;
    font-size: medium;
    text-align: center;
}

.seatsDetailsTitle {
    display: flex;
    flex-direction:column;
    align-items: center;
    font-size: medium;
    text-align: center;
    margin-left: 15px;
}


.priceShow, .seatsShow {
    font-size: larger;
}

.driverDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8C9E88;
    width: 95%;
    height: auto;
    padding:12px;
	border-radius:10px;
	margin: 12px;;
    color: #162723;
}

.driverNameTitle, .driverNumberTitle, .energyTitle, .numberplateTitle, .vehicleTitle {
    font-size: 16px;
    margin-top: 5px;
}

.driverName, .driverNumber, .descriptionPreferences, .energyType, .numberplate, .vehicleType {
    font-size: larger;
}

.imgDriver{
    width: 20%;
    border-radius: 15px;
}

.preferences {
    background-color: #8C9E88;
    width: 95%;
    height: auto;
    padding:12px;
	border-radius:10px;
	margin: 12px;;
    color: #162723;
}

.preferencesTitle {
    font-size: medium;
}

.vehicleDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8C9E88;
    width: 95%;
    height: auto;
    padding:12px;
	border-radius:10px;
	margin: 12px;;
    color: #162723;
}


.buttonHome {
    font-size: 12px !important;
    background: #E0A458;
    color: #162723;
    width: 52px;
    height: 25px;
    border-color: #E0A458 ;
    border-radius: 10px;
    margin: 3px;
}
