body {
    background-color: #162723;
    
}

main {
    background-color: #162723;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgDestinationShow{
    display:flex;
    align-items: center;
    width: 80%;
}
.boxDestinationShow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E0A458;
    width: 80%;
    height: auto;
    /*padding:1px;*/
	border-radius:0 0 10px 10px;
	margin:auto;
    color: #162723;
}

.dateShow{
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

/*img {
    width: 80%;
    height: 50%;
    border-radius: 15px 15px 0 0;
}*/

/*.tripDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #8C9E88;
    width: 80%;
    height: 200px;
	border-radius:10px;
	margin: 12px;
    color: #162723;
    list-style: none;

}*/

.tripDetailsShow {
    background-color: #8C9E88;
    display: grid;
    width: 80%;
    border-radius:10px;
    margin: 12px;
    grid-template-columns: 1fr 0.5fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    }

div.timeDetails {
    margin: 5px;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

div.departureTime {
    grid-area: 1 / 1 / 2 / 2;
    align-items: start;
    margin-top: 30px;
}

div.arrivalTime { 
    grid-area: 2 / 1 / 3 / 2;
    align-self: center;
    margin-bottom: 40px;
}

div.addressDetails {
    margin: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr ;
    position: relative;
    align-items: flex-end;
}

div.origin {
    align-items: flex-start;
    margin-top: 15px;
    grid-area: 1 / 1 / 2 / 2; 
}

div.destination { 
    grid-row-end: 5;
    place-content: center;
    grid-area: 2 / 1 / 3 / 2;  
}

div.imgLeafLine { 
    grid-template-rows: 1fr;
    position: relative;
    display: grid;
    -webkit-box-align: center;
    align-self: center;
    width: 50px;
    flex-shrink: 0;
    height: calc(13px);
    margin-bottom: 60px;
}

.detailsContainer {
    /*display: flex;
    width: 80%;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    align-content: space-between;
}

div.detailsContainer { grid-area: 1 / 1 / 2 / 2; }

.costDetails {
    background-color: #8C9E88;
    width: 80%;
    height: auto;
    padding: 12px;
	border-radius:10px;
	margin: 12px;
    color: #162723;
    font-weight: bold;
    font-size: 16px;
    margin-left: 37px;
}

.seatsDetails {
    background-color: #8C9E88;
    width: 80%;
    height: auto;
    padding:12px;
	border-radius:10px;
	margin: 12px;;
    color: #162723;
    font-weight: bold;
    font-size: 16px;
    margin-right: 80px;
}

div.driverDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8C9E88;
    width: 80%;
    height: auto;
    padding:12px;
	border-radius:10px;
	margin: 12px;;
    color: #162723;
}

.imgDriver{
    width: 20%;
    border-radius: 15px;
}

.preferences {
    background-color: #8C9E88;
    width: 80%;
    height: auto;
    padding:12px;
	border-radius:10px;
	margin: 12px;;
    color: #162723;
}

#text {
    text-align: center;
}


.vehicleDetails {
    background-color: #8C9E88;
    width: 80%;
    height: auto;
    padding:12px;
	border-radius:10px;
	margin: 12px;;
    color: #162723;
}

div.buttons{
    margin: 12px;
    display: flex;
    justify-content: center;
}

.btn {
    margin: 3px;
}
.list {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cardHome {
    margin:15px;
    max-width: 120rem;
    width: 100%;
    justify-content: center;
    background-color: #8C9E88;
    border-radius:  15px 15px 15px 15px;
    font-size: 0.2rem;
}

.card-body {
    max-width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 2fr;
    color:#162723;
    
}

@media (min-width:768px){
    .list{
        width:60%
    }
}
.imgCityDestination {
    border-radius:  15px 15px 15px 15px;
    grid-column: 1;
}
.date {
    margin-left:7px ;
    margin-top: 5px;
    color:#162723;
    grid-column: 1;
    grid-row: 3/4;
}
.price {
    grid-column: 4;
    grid-row: 1;
    margin-left: 30px;
    margin-top: 60px;
}
.departureTime {
    margin-top:20px ;
    grid-column: 2;
    grid-row: 1;
}
.arrivalTime {
    margin-top: 60px;
    grid-column: 2;
    grid-row: 1;  
}
.originCity {
    margin-top: 20px;
    grid-column: 3;
    grid-row: 1;
    margin-left: 20px;
}
.destinationCity {
    grid-column: 3;
    grid-row: 1; 
    margin-left: 20px;
    margin-top: 60px;
}
.energyType {
    margin-top:5px ;
    grid-column: 2/4;
    grid-row: 3;
    text-transform:uppercase;
    font-weight: bold;
}

.formActions {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
}

.buttonHome {
    font-size: 12px !important;
    background: #E0A458;
    color: #162723;
    width: 52px;
    height: 25px;
    border-color: #E0A458 ;
    border-radius: 10px;
    margin: 3px;
}

p.small.text-muted {
    --bs-text-opacity: 1;
    color: #E0A458 !important;
}

a.page-link{
    color: #162723 !important;;
}

ul.pagination {
    --bs-pagination-bg: #E0A458;
    --bs-pagination-color: var(--bs-link-color);
    --bs-pagination-border-width: 1px;
    --bs-pagination-border-color: #162723;
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: #e9ecef;
    --bs-pagination-hover-border-color: #dee2e6;
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #162723;
    --bs-pagination-active-bg: #8C9E88;
    --bs-pagination-active-border-color: #162723;
    --bs-pagination-disabled-color: #6c757d;
    --bs-pagination-disabled-bg: #E0A458;
    --bs-pagination-disabled-border-color: #162723;

}
