body {
    background-color: #162723;
    color: rgb(237, 232, 232);
}

main {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    margin-bottom: 15px;
    text-align: center;
    font-weight: 700;
    color: #E0A458;
}

h3 {
    margin-top: 0.8rem;
    margin-bottom: 0.3rem;
    font-weight: 600;
}

.form-label {
    margin-top: 0.8rem;
    margin-bottom: 0.1rem;
}

a{
    text-decoration: none!important;
    color: white!important;
}

img {
    width: 80%;
    height: 50%;
    border-radius: 15px 15px 0 0;
}

.imgDestination{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8C9E88;
    width: 80%;
    height: auto;
    padding:12px;
	border-radius:0 0 10px 10px;
	margin:auto;
    color: #162723;
}

.card{
    margin:5px;
    background-color: #8C9E88;
}

.card-title {
    color:#162723;
}

.price {
    font-weight: bolder;
}

form {
    width:320px;
	padding:12px;
	border-radius:10px;
	margin:auto;
	background-color:#8C9E88;
    color: #162723;
}

.formActions{
    background-color: transparent;
}

.formstyle {
    box-sizing: content-box;
    width: 100%;
    margin: 15px;
    background-color: #8C9E88;
    color: #8C9E88;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:  center;
}

.formControl { 
    display: block;
    width: 80%; 
    padding: 0.3rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.6;
    color: #212529;
    background-color: rgba(140, 158, 136, 0.7);;
    background-clip: padding-box;
    border: 1px solid #162723;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

form-label {
    padding-top: 50px;
}

.tripDetails {
    display: flex;
    flex-direction: row;
    background-color: #8C9E88;
    width: 80%;
    height: auto;
    padding:12px;
	border-radius:10px;
	margin: 12px;;
    color: #162723;
    list-style: none;
}

.timeDetails {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 20%;
    position: relative;
}

.imgLeafLine { 
    margin: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-height: 130px;
    width: 50px;
    flex-shrink: 0;
    height: calc(13px);
}

.addressDetails {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
}


.priceTrip, .preferences {
    background-color: #8C9E88;
    width: 80%;
    height: auto;
    padding:12px;
	border-radius:10px;
	margin: 12px;;
    color: #162723;
    font-weight: bolder;
}

div.summaryTrip {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8C9E88;
    width: 80%;
    height: auto;
    padding:12px;
	border-radius:10px;
	margin: 12px;;
    color: #162723;
}

.imgDriver{
    width: 20%;
    border-radius: 15px;
}


.vehicleDetails {
    background-color: #8C9E88;
    width: 80%;
    height: auto;
    padding:12px;
	border-radius:10px;
	margin: 12px;;
    color: #162723;
}

div.buttons{
    margin: 12px;
    display: flex;
    justify-content: center;
}

.btn {
    margin: 3px;
}
.list {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cardHome {
    margin:15px;
    max-width: 120rem;
    width: 100%;
    justify-content: center;
    background-color: #8C9E88;
    border-radius:  15px 15px 15px 15px;
    font-size: 0.2rem;
}

.card-body {
    max-width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 2fr;
    color:#162723;
    
}

@media (min-width:768px){
    .list{
        width:60%
    }
}
.imgCityDestination {
    border-radius:  15px 15px 15px 15px;
    grid-column: 1;
}
.date {
    margin-left:7px ;
    margin-top: 5px;
    color:#162723;
    grid-column: 1;
    grid-row: 3/4;
}
.price {
    grid-column: 4;
    grid-row: 1;
    margin-left: 30px;
    margin-top: 60px;
}
.departureTime {
    margin-top:20px ;
    grid-column: 2;
    grid-row: 1;
}
.arrivalTime {
    margin-top: 60px;
    grid-column: 2;
    grid-row: 1;  
}
.originCity {
    margin-top: 20px;
    grid-column: 3;
    grid-row: 1;
    margin-left: 20px;
}
.destinationCity {
    grid-column: 3;
    grid-row: 1; 
    margin-left: 20px;
    margin-top: 60px;
}
.energyType {
    margin-top:5px ;
    grid-column: 2/4;
    grid-row: 3;
    text-transform:uppercase;
    font-weight: bold;
}

.bg-white {
    background-color: #E0A458 !important;
    opacity: inherit !important;
    color: #162723;
    font-weight: bold;
}

.formActions {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
}

.buttonHome {
    font-size: 12px !important;
    background: #E0A458;
    color: #162723;
    width: 52px;
    height: 25px;
    border-color: #E0A458 ;
    border-radius: 10px;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #E0A458 !important;
}

a.page-link{
    color: #162723 !important;;
}

.pagination {
    --bs-pagination-bg: #E0A458;
    --bs-pagination-color: var(--bs-link-color);
    --bs-pagination-border-width: 1px;
    --bs-pagination-border-color: #8C9E88;
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: #e9ecef;
    --bs-pagination-hover-border-color: #dee2e6;
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #162723;
    --bs-pagination-active-bg: #8C9E88;
    --bs-pagination-active-border-color: #8C9E88;
    --bs-pagination-disabled-color: #6c757d;
    --bs-pagination-disabled-bg: #E0A458;
    --bs-pagination-disabled-border-color: #8C9E88;

}

